<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/components :: header">

<body>

	<div class="pure-g" style="width: 1000px; margin: 0 auto;">

		<div class="pure-u-1-5">
			<aside th:replace="fragments/components :: aside">
		</div>

		<div class="pure-u-4-5">
			<section>
				<div class="pure-g">
					<div class="title">Sample 1</div>
				</div>
				<h3>Hello!</h3>
				<p>
					You can write your codes here...
				</p>
			</section>
		</div>

	</div>
	<footer th:replace="fragments/components :: footer">

		<body>

</html>